body {
  background:#c8c8c8;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  margin-top: 0em;
  flex-direction: column;  
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
  display: flex;
  flex-direction: column;  
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
  padding-left: 40px;
  padding-right: 40px;
}

.dropdown-menu {
  max-height: 300px;
  overflow-x: scroll;
}

.datePicker {
  color: red !important;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.employee-infos {
  display: flex;
  flex-direction: column;
}

.department {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

input {
  width: 100%;
}

.titles {
  cursor: pointer;
}

.error-message {
  color: red;
}

#create-employee {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: rgb(167, 166, 166) 4px 4px;
  margin-bottom: 20px;
}

#save {
  margin-top: 50px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.table {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: rgb(167, 166, 166) 4px 4px;

}